        <nav id="nav" style="padding: 0em 1em;">
            <ul >
                <li><strong>FileExplorer</strong>
					<div class="disk-bar-container">
						<div class="disk-bar" id="diskBar">0%</div>
					</div>
					<p style="font-size:0.5rem; text-align:center; margin:0px" id="diskInfo">0GB / 0GB</p>
				</li>
            </ul>
            <ul>
                <li>
                    <button class="outline" hx-get="/storage/disc=e?dir=/" hx-target="body" hx-push-url="true">
                        Home
                    </button>
                </li>
            </ul>
        </nav>
