        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Kde to žije</title>
	<link rel="icon" type="image/x-icon" href="/osnovy/img/favicon.ico">
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
