        <nav id="nav" style="padding: 0em 1em;">
            <ul >
                <li><strong>Kde to žije</strong>
            </ul>
            <ul>
                <li>
                    <button class="outline" hx-get="/" hx-target="body" hx-push-url="true">
                        Home
                    </button>
                </li>
            </ul>
        </nav>
