<!doctype html>
<html lang="cs" style="max-height: 100vh; max-width: 100vw">
    <head style="flex: none">
        <%- include('partials/head'); %>
		<style>
			.map {
				height: 100%;
				width: 100%;
			}
		</style>
		<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/build/ol.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/css/ol.css">
    </head>
    <body style="display: flex; flex-direction: column; height: 100vh">
        <%- include('partials/header'); %>
        <div id="map" class="map"></div>
		<script type="text/javascript">
			var kralovehradeckyKrajExtent = ol.proj.transformExtent([15.3, 50.1, 16.5, 50.8], 'EPSG:4326', 'EPSG:3857');

			var map = new ol.Map({
				target: 'map',
				layers: [
					new ol.layer.Tile({
						source: new ol.source.XYZ({
							url: 'https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=8YRNEfnZb0K6syftXksQ'
						})
					})
				],
				view: new ol.View({center: ol.proj.fromLonLat([15.48, 50.24]),
				zoom: 9,
				extent: kralovehradeckyKrajExtent,
				constainOnlyCenter: true,
				minZoom: 8,
				maxZoom: 18
				})
			});
			
			var point = new ol.layer.Vector({
				 source: new ol.source.Vector({
					 features: [
						 new ol.Feature({
							 geometry: new ol.geom.Point(ol.proj.fromLonLat([12.33816, 45.43393]))
						 })
					 ]
				 }),
			 });

			map.addLayer(point);
		</script>
    </body>
</html>
