<!DOCTYPE html>
<html lang="cs" style="height: 100%; width: 100%;">
<head>
    <%- include('partials/head'); %>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/css/ol.css">
</head>
<body style="height: 100%; width: 100%; margin: 0; padding: 0;">
    <div id="map" class="map"></div>

	<div class="legenda">
		<div class="legenda-polozka">
			<div class="puntik" style="background-color: red;"></div>
			<span>Kluby a festival parky</span>
		</div>
		<div class="legenda-polozka">
			<div class="puntik" style="background-color: blue;"></div>
			<span>Kina</span>
		</div>
		<div class="legenda-polozka">
			<div class="puntik" style="background-color: green;"></div>
			<span>Letní koupaliště</span>
		</div>
		<div class="legenda-polozka">
			<div class="puntik" style="background-color: orange;"></div>
			<span>Zábavní centra</span>
		</div>
	</div>
    
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="location-info">
                <h1><span id="location-name"></span></h1>
                <div class="age-category-info">
                    <h4>Nejčastější věkové kategorie pro toto místo:</h4>
                    <ul id="age-list" class="age-categories">
                    </ul>
                    <p>Celkové hodnocení: <span id="overall-rating">3.5</span></p>
					<div style="display: flex; justify-content: center;">
						<button class="btn">Celkem</button>
					</div>					
					<div id="myBtnContainer">
						<button class="btn">15-17</button>
						<button class="btn">18-21</button>
						<button class="btn">22-27</button>
						<button class="btn">28-35</button>
						<button class="btn">36-42</button>
						<button class="btn">43-48</button>
					  </div>
                </div>
            </div>
            
            <form id="pridatRecenziForm" onsubmit="formSubmition(event)">
                <h3>Hodnocení pro: <span id="form-location-name"></span></h3>
                
                <label for="most-common-age-group">Nejčastější věková skupina na daném místě:</label>
                <select id="most-common-age-group" name="common_range">
                    <option value="15-17">15-17</option>
                    <option value="18-21">18-21</option>
                    <option value="22-27">22-27</option>
                    <option value="28-35">28-35</option>
                    <option value="36-42">36-42</option>
                    <option value="43-48">43-48</option>
                </select>

                <label for="age-group">Vaše věková skupina:</label>
                <select id="age-group" name="vek_range" required>
                    <option value="15-17">15-17</option>
                    <option value="18-21">18-21</option>
                    <option value="22-27">22-27</option>
                    <option value="28-35">28-35</option>
                    <option value="36-42">36-42</option>
                    <option value="43-48">43-48</option>
                </select>

                <fieldset required>
					<legend>Vaše hodnocení místa:</legend>
					<div class="rating-container">
						<div class="rating-option">
							<input type="radio" id="rating1" name="rating" value="1">
							<label for="rating1">1</label>
						</div>
						<div class="rating-option">
							<input type="radio" id="rating2" name="rating" value="2">
							<label for="rating2">2</label>
						</div>
						<div class="rating-option">
							<input type="radio" id="rating3" name="rating" value="3">
							<label for="rating3">3</label>
						</div>
						<div class="rating-option">
							<input type="radio" id="rating4" name="rating" value="4">
							<label for="rating4">4</label>
						</div>
						<div class="rating-option">
							<input type="radio" id="rating5" name="rating" value="5">
							<label for="rating5">5</label>
						</div>
					</div>
				</fieldset>

                <input type="submit" value="Odeslat" style="margin-top: 1rem">
            </form>
        </div>
    </div>
    
    <script type="text/javascript" src="main.js"></script>
</body>
</html>