<!doctype html>
<html lang="cs" style="max-height: 100vh; max-width: 100vw">
    <head style="flex: none">
        <%- include('partials/head'); %>
    </head>
    <body style="display: flex; flex-direction: column; height: 100vh">
        <%- include('partials/header'); %>
        <main>
            
        </main>
    </body>
</html>
