<html lang="cs" style="max-height: 100vh; max-width: 100vw">
<head style="flex: none">
    <%- include('partials/head'); %>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/css/ol.css">
</head>
<body>

    <div class="container">

        <div id="map-section" class="map-section">
            <h3>Nejčastější věkové kategorie pro místo "bla":</h3>
            <ul class="age-categories">
                <li>20-29</li>
                <li>30-39</li>
            </ul>
            <p>Celkové hodnocení: 3.5</p>

            <div id="map" class="map"></div>
        </div>

        <div id="rating-section" class="rating-section">
            <h3>Nejčastější věková kategorie na daném místě: 30-39</h3>

            <form>
                <label for="age-group">Vaše věková skupina:</label>
                <select id="age-group" name="age-group">
                    <option value="20-29">20-29</option>
                    <option value="30-39">30-39</option>
                    <option value="40-49">40-49</option>
                </select>

                <label for="rating">Vaše hodnocení místa:</label>
                <input type="number" id="rating" name="rating" min="1" max="5">

                <input type="submit" value="Odeslat">
            </form>
        </div>
    </div>

    <script type="text/javascript">

        var kralovehradeckyKrajExtent = ol.proj.transformExtent([15.3, 50.1, 16.5, 50.8], 'EPSG:4326', 'EPSG:3857');

        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.XYZ({
                        url: 'https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=8YRNEfnZb0K6syftXksQ'
                    })
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([15.48, 50.24]),
                zoom: 9,
                extent: kralovehradeckyKrajExtent,
                constrainOnlyCenter: true,
                minZoom: 8,
                maxZoom: 18
            })
        });
    </script>
</body>
</html>
